* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: mulish;
    
}

body {
    padding: 73px 100px;

    background-color: #121214;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    row-gap: 42px;
    column-gap: 60px; /* ou só gap: 40px 60px */
}

.card {
    background-color: #202024;
    border-radius: 8px;
    border: 2px solid #323238;

    
}


h1 {
    font-size: 58px;
    font-weight: 900;

    color: #02799D;
}

p {
    font-size: 32px;
    font-weight: 600;
}

.card h2 {
    font-size: 35px;
    font-weight: 900;
}

.card h2, p {
    color: #E1E1E6;
}

.card h2 {
    padding: 24px 32px 0px;
}

.card p {
    font-size: 19px;
    font-weight: 600;

    padding: 24px 32px 32px;

    color: #C4C4CC;
}



